.initial-page-section-inner-image {
  position: relative;

  height: 10rem; /* control how much image shows */
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  filter: saturate(0.78) contrast(0.95) brightness(1.06);
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.initial-page-section-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 3rem;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.04),
    0 6px 16px rgba(0, 0, 0, 0.06);
  border: 1px solid #e5e7eb;
  width: 25%;
  border-radius: 8px 8px 32px 32px;
}

.initial-page-section-item-second {
  position: relative;
}

.initial-page-section-item-second:not(:last-child)::after {
  content: "→";
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #6bbf59; /* yeşil ton */
  font-weight: bold;
}

.initial-page-section-item:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  transform: translateY(-2px);
}

.initial-page-section-inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.initial-page-section-item-title {
  font-size: var(--fs-h5);
  color: var(--color-heading-primary);
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.initial-page-section-item-description {
  font-size: var(--fs-body);
  color: var(--color-heading-secondary);
  line-height: var(--lh-body);
}

.initial-page-section-item-button {
  border-radius: 8px;
  padding: 4px 8px;
  height: 3rem;
  align-self: flex-start;
  width: 70%;
  box-shadow: 0 6px 14px rgba(46, 125, 50, 0.25);
  cursor: pointer;
}

.initial-page-section-item-button:hover {
  transform: translateY(-1px);
}

.initial-page-section-item-button-primary {
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 12px;
}

.initial-page-section-item-button-primary::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.45),
    rgba(255, 255, 255, 0.85)
  );
  pointer-events: none;
}
